<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.security.mapper.AccountMapper">

    <select id="readAccount"  parameterType="String" resultType="com.bit.security.domain.Account">
		SELECT * FROM USER_INFO
		WHERE ID= #{id}
	</select>

	<select id="readAuthorites"  parameterType="String" resultType="String">
		SELECT AUTHORITY_NAME
		FROM AUTHORITY WHERE USERNAME=#{userName}
	</select>
</mapper>